body {
    width: 600px;
    min-height: 400px;
    padding-bottom: 30px;
    position: relative;
}

@font-face {
    font-family: 'DKKnucklebones';
    src: url('../DKKnucklebones-Regular.ttf');
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a:hover svg {
    fill: #000;
}

.options {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;

}

.appbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decorative {
    font-size: 53px;
    margin: 0;
    line-height: initial;
    letter-spacing: 7px;
    padding-right: 20px;
    font-family: 'DKKnucklebones';

}

.appbar-flex__actions {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-caption {
    position: absolute;
    bottom: 5px;
    right: 15px;
    margin: 0;
}

.form {
    margin-bottom: 20px;
}

.form .form__input-wrap {
    width: calc(100% - 87px);
}

.form .form__input {
    width: 100%;
}

.remove-btn {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    display: inline-flex;
}

.remove-btn:hover svg{
    fill: #f00;
}

#green-list,
#red-list {
    position: relative;
    padding: 5px 15px;
}

.item-container {
    margin-top: 20px;
}

.item {
    position: relative;
    min-height: 36px;
    line-height: 36px;
}

#find {
    margin: 0 auto;
    display: block;
}